<html>
  <style>
    A {text-decoration: none;}
  </style>

  <head>
    <title> Home Page </title>
  </head>
  <body style = 'background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
  background-repeat: no-repeat;height: 100%;margin: 0;'>
    <b>
    <div id = 'admin_login' align = 'center' style = 'position: relative; top: 230px;'>
      <a href = 'site-admin/' style = 'font-family: Open Sans; font-size: 30pt;
      color: white; background:#11a867 ;padding: 14px 25px'> LOGIN AS ADMIN </a>
    </div>

    <div id = 'vchr_validate' align = 'center' style = 'position: relative; top: 280px;'>
      <a href = 'vouchers/' style = 'font-family: Open Sans; font-size: 30pt;
      color: #0d8551; background:white ;padding: 14px 25px'  > VALIDATE VOUCHER </a>
    </div>
    </b>
  </body>

</html>
